<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134155827-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134155827-1');
    </script>
    <title>HACKDAY CBA 2019</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/line-icons.css') }} ">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slicknav.css') }} ">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nivo-lightbox.css') }}"  >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }} ">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }} ">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }} ">

    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
    <link href="{{ url_for('static', filename='css/demo5.css') }}" rel="stylesheet">


  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand" style="color:#ea4863;font-family:monospace"> <div style="display:inline; color:#21cccc;">def</div> <div style="display:inline; color:#80c713">hackday_cba</div>():</a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item active">
                <a class="nav-link" href="#header-wrap">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Que es?
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#donde">
                  Donde y Cuando
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#schedules">
                  Charlas y talleres
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">
                  Proyectos
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
          <li>
            <a class="page-scrool" href="#header-wrap">Home</a>
          </li>
          <li>
            <a class="page-scrool"  href="#services">
              Que es?
            </a>
          </li>
          <li>
             <a class="page-scroll"href="#donde">
              Donde y Cuando
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#schedules">
              Charlas y talleres
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#schedules">
              Charlas y talleres
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#team">
              Proyectos
            </a>
          </li>

        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->

      <!-- Main Carousel Section Start -->

      <!-- Main Carousel Section End -->

    </header>

    <!-- Header Area wrapper End -->
    <div class="overlay"></div>


    <!-- Coundown Section Start -->
    <section class="countdown-timer section-padding">
      <div class="container">
        <div class="row text-center text-center-principal">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">
              <div id="clock" class="time-count"></div>
            </div>
            <a href="#gallery" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">Asistiré</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Coundown Section End -->

     <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">¿De qué se trata?</h1>
              <h3 class="wow fadeInDown" data-wow-delay="0.2s">Vení a crear lo que te imagines, compartir lo que sabes y aprender de otros devs, participar de los talleres y charlar entre #beers.</h3>
              <h4 class="wow fadeInDown" data-wow-delay="1s">Cada uno puede estar con un proyecto propio o unirse a otros proyectos. Es agnóstico del hardware y software ;). Se trata de estar en un lugar donde se puede pedir y prestar ayuda rápido, divertirse, escuchar música y compartir conocimiento.</h3>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Services Section End -->
    <!-- Counter Area Start-->
    <section id="donde" class="counter-section section-padding">
      <div class="container">
        <div class="row justify-content-md-center">
          <!-- Counter Item -->
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp text-light" data-wow-delay="0.2s">Donde y cuando</h2>
            </div>
          </div>
          <div class="col-md-3  col-xs-12 work-counter-widget text-center">
            <div class="counter wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon"><i class="lni-map"></i></div>
              <p>Oficinas de Vates</p>
              <span>Colon 778 Piso 7, Córdoba</span>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3  col-xs-12 work-counter-widget text-center">
            <div class="counter wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon"><i class="lni-timer"></i></div>
              <p>9 de Marzo, 2019</p>
              <span>09:00 AM – 06:00 PM</span>
            </div>
          </div>

        </div>
      </div>
    </section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.606620282034!2d-64.195297491014!3d-31.41061951023627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432987e6a9116a1%3A0x8950afeadc465c41!2sAv.+Col%C3%B3n+778%2C+X5000EPU+C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1549548828771"
      frameborder="0" style="border:0; width: 100%; height: 70vh;" allowfullscreen></iframe>

    <!-- Counter Area End-->

    <!-- Schedule Section Start -->
    <section id="schedules" class="schedule section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Talleres y Charlas</h1>
              <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-4 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="about-item">
                      <img class="img-fluid" src="/static/nodemcu.jpeg" alt="">
                      <div class="about-text">
                        <h3>IoT con Micropython</h3>
                        <p>Vamos a jugar un poco con NODEMCU, quemarle el rom de micropython y levantar un dashboard para interactuar con el!</p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-4 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="about-item">
                      <img class="img-fluid" src="/static/lee.jpeg" alt="">
                      <div class="about-text">
                        <h3>Reinforcement Learning <br>agent to solve a board game, deployed on an IoT environment</h3>
                        <p></p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-4 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="about-item">
                      <img class="img-fluid" src="/static/micro.jpeg" alt="">
                      <div class="about-text">
                        <h3>Microservicios</h3>

                        <p>Introducción a la arquitectura de microservicios</p>
                        
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
                      
              <a href="#gallery" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">Proponer mi taller</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Schedule Section End -->

    <!-- Team Section Start -->
    <section id="team" class="section-padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp text-light" data-wow-delay="0.2s">Proyectos</h1>
              <div class="row services-wrapper projects">
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                  <div class="services-item wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    
                    <img class="img-fluid" src="/static/picamera.jpg" alt="">

                    <div class="services-content">
                      
                      <p>Jugando con Rpi + Picamera + Opencv + Object detection</p>
                    </div>
                  </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                  <div class="services-item wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <img class="img-fluid" src="/static/rpialexa.jpg" alt="">
                    <div class="services-content">
                      <p>Probando alexa en español en Rpi</p>
                    </div>
                  </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                  <div class="services-item wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <img class="img-fluid" src="/static/blockchain.png" alt="">
                    <div class="services-content">
                      <b>converzapp</b>
                      <p>
                        Web Application / Simple chat application to casual users builded in angular/docker/django/drf for mining monero and other comercial purposes.  
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                  <div class="services-item wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <img class="img-fluid" src="/static/rockola.png" alt="">
                    <div class="services-content">
                      <b>Rockola Pi</b>
                      <p>
                        Un lugar donde seleccionar música a través de una interfaz web. Todo el servidor y manejo de dispositivos sería dado por la raspberry pi. Todavía no se seleccionaron tecnologías de desarrollo.

                      </p>
                    </div>
                  </div>
                </div><!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                  <div class="services-item wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <img class="img-fluid" src="/static/maceta.png" alt="">
                    <div class="services-content">
                      <b>Maceta Inteligente</b>
                      <p>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Services item  -        offset-md-6 offset-lg-4 offset-xs-12  -- -->
                <div class="col-md-6 col-lg-4 col-xs-12 
                            padding-none">
                            
                  <div class="services-item wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <img class="img-fluid" src="/static/idea.png" alt="">
                    <div class="services-content">
                      <a href="#gallery" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">Proponer un proyecto</a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- <section id="gallery" class=".gallery-box section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center wow fadeInUp" data-wow-delay="0.5s">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.7s" >
                Animate y anotate
              </h2>
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfk5zOM8pFrYmONbJNl07GavN-Qv_CdZ8_WLTEGxQg6Yhf1Tw/viewform?embedded=true" width="640" height="2094" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
            </div>
          </div>
        </div>
      </div>
      
    </section> -->
    <div class="row justify-content-md-center" style="background-color: #fff;">
      <p>con el apoyo de:</p>
    </div>
    <div class="row justify-content-md-center" style="background-color: #fff;">
          <div class="col-md-2  col-xs-12">
            <img src="/static/pyar.png" style="width: 100%;">
          </div>
          <div class="col-md-2  col-xs-12">
            <img src="/static/vates.png" style="width: 100%;">
          </div>
      </div>

    <!-- Team Section End -->
    <div id="copyright" class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="site-info">
              <p style="color:#ea4863;" >HACKDAY CBA</p>
            </div>
          </div>
          <div class="col">
            <div class="site-info">
              <p>Contactanos: malopez@vates.com | pdalmasso@vates.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-chevron-up"></i>
    </a>

    <div id="preloader">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nivo-lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-validator.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact-form-script.min.js') }}"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendors.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo5.js') }}"></script>
      
  </body>
</html>
